header {
    width: 1920px;
    height: 100px;
    background-color: black;
    position: absolute;
    left: 0px;
    top: 0px;
}

main {
    width: 1920px;
    height: 754px;
    background-color: white;
    position: absolute;
    left: 0px;
    top: 100px;
}

footer {
    width: 1920px;
    height: 75px;
    background-color: black;
    position: absolute;
    left: 0px;
    top: 854px;
}

.text1 {
    color: white;
    font-size: 36px;
    position: absolute;
    left: 110px;
    top: 4px;
}

.image1 {
    width: 150px;
    height: 150px;
    position:relative;
    left: 25px;
    top: 25px;
}

.square {
    height: 754px;
    width: 1920px;
    background: linear-gradient(to left, #0D0038, #002038)
}

.circle {
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 50%;
    position:relative;
    left: 25px;
    top: 25px;
  }

.button11 {
    height: 200px;
    width: 200px;
    border-radius: 25px;
    background: black;
    position: absolute;
    left: 88px;
    top: 60px;
}

.button12 {
    height: 200px;
    width: 200px;
    border-radius: 25px;
    background: black;
    position: absolute;
    left: 88px;
    top: 277px;
}

.button13 {
    height: 200px;
    width: 200px;
    border-radius: 25px;
    background: black;
    position: absolute;
    left: 88px;
    top: 494px;
}

.button14 {
    height: 200px;
    width: 200px;
    border-radius: 25px;
    background: black;
    position: absolute;
    left: 1003px;
    top: 277px;
}

.button15 {
    height: 200px;
    width: 200px;
    border-radius: 25px;
    background: black;
    position: absolute;
    left: 1003px;
    top: 60px;
}

.button16 {
    height: 200px;
    width: 200px;
    border-radius: 25px;
    background: black;
    position: absolute;
    left: 1003px;
    top: 494px;
}

.button21 {
    height: 200px;
    width: 610px;
    border-radius: 25px;
    background: black;
    position: absolute;
    left: 305px;
    top: 60px;
}

.button22 {
    height: 200px;
    width: 610px;
    border-radius: 25px;
    background: black;
    position: absolute;
    left: 305px;
    top: 277px;
}

.button23 {
    height: 200px;
    width: 610px;
    border-radius: 25px;
    background: black;
    position: absolute;
    left: 305px;
    top: 494px;
}

.button24 {
    height: 200px;
    width: 610px;
    border-radius: 25px;
    background: black;
    position: absolute;
    left: 1220px;
    top: 277px;
}

.button25 {
    height: 200px;
    width: 610px;
    border-radius: 25px;
    background: black;
    position: absolute;
    left: 1220px;
    top: 60px;
}

.button26 {
    height: 200px;
    width: 610px;
    border-radius: 25px;
    background: black;
    position: absolute;
    left: 1220px;
    top: 494px;
}

.text2 {
    color: white;
    font-size: 36px;
    position: relative;
    left: 25px;
    bottom: 25px;
       } 
       A {
        color: rgb(255, 255, 255); /* Цвет ссылок */
       }
       A:visited {
        color: #ffffff; /* Цвет посещенных ссылок */
       }
       A:active {
        color: #ffffff; /* Цвет активных ссылок */
}

.text3 {
    color: white;
    font-size: 28px;
    position: relative;
    left: 25px;
    bottom: 55px;
}
