body {
  background-color: #000000;
  color: #fff;
}

main {
  min-height: 800px;
}

.section-right {
  background-color: #000000;
  padding: 20px;
}

.section-left {
  background-color: #000000;
  padding: 20px;
}

.avatar {
  width: 100%;
  float: left;
  margin: 0px 32px 0px 0px;
}

.info {
  float: left;
}

.no_link {
  color: rgb(155, 0, 0);
  text-decoration: line-through
}

.link {
  color: #950101;
}

.link:hover {
  color: #FF0000;
}

.no_link:hover {
  color: red;
  text-decoration: line-through
}