.header {
    background: rgb(0, 0, 0);
}

.logo {
    max-width: 125px;
}

.news {
    width: 92%;
}

.news-image {
    width: 100%;
}

.content {
    background: white;
    height: 100%;
}

body {
    background: #f1f3f4;
}

.footer {
    background: black;
    height: 150px;
}

.text-footer {
    color: white;
}

.main-bg {
    height: 525px;
    background-image: url("../img/bg_img.jpg");
    background-size: cover;
    -moz-background-size: cover;
    background-position: center;
}

.badge-black {
    background: black;
    color: white;
}

.about {
    min-height: 1000px;
    width: 88%;
}

.logo-img {
    text-align: center;
}

.badge-dark {
    background: black;
    color: white;
}